@import '../../../assets/css/util.scss';

.cut-progress {
  height: 100%;
  width: 100%;
  // background: #ccc;
  font-size: $font-size-basic;
  font-family: "PingFangSC-Medium";
  font-weight: 400;
  color:rgba(63,74,86,1);
  text-align: center;
  .cut-start, .cut-start0 {
    width: px2rem(92);
    height: px2rem(47);
    line-height: px2rem(47);
    text-align: center;
    background:rgba(225,229,233,1);
    position: relative;
    top: px2rem(70);
    margin-left: px2rem(20);
    border-radius: px2rem(24);
    font-weight: 500;
  }
  // .cut-start0 {
  //   border:2px solid rgba(44,156,250,1);
  //   background:rgba(44,156,250,0.2);
  // }
  .cut-border {
    // height: px2rem(97);
    .cut-border1 {
      float: left;
      height: px2rem(46);
      // width: 1px;
      border-left: 2px solid #EEEEEE;
      position: relative;
      top: px2rem(70);
      margin-left: px2rem(66);
    }
    .cut-border1:before{
      content: "";
      display: block;
      border-width: px2rem(8);
      position: absolute;
      bottom: px2rem(-9);
      left: px2rem(-9);
      border-style: solid dashed dashed;
      border-color: #EEEEEE transparent transparent;
      font-size: 0;
      line-height: 0;
    }
    .cut-border3 {
      float: left;
      top: px2rem(70);
      height: px2rem(46);
      width: px2rem(120);
      border: 2px solid #EEEEEE;
      border-bottom: none;
      position: relative;
      top: px2rem(71);
      margin-left: px2rem(118);
    }
    .cut-border3:before{
      content: "";
      display: block;
      border-width: px2rem(8);
      position: absolute;
      bottom: px2rem(-8);
      left: px2rem(109);
      border-style: solid dashed dashed;
      border-color: #EEEEEE transparent transparent;
      font-size: 0;
      line-height: 0;
    }
    .cut-border5 {
      float: left;
      padding-right: px2rem(100);
      height: px2rem(97);
      width: px2rem(380);
      border: 2px dotted #EEEEEE;
      border-bottom: none;
      position: relative;
      top: px2rem(20);
      margin-left: px2rem(100);
      .cut-border7 {
        float: left;
        height: px2rem(46);
        width: px2rem(120);
        border: 2px solid #EEEEEE;
        border-bottom: none;
        position: relative;
        top: px2rem(49);
        margin-left: px2rem(20);
      }
      .cut-border7:before{
        content: "";
        display: block;
        border-width: px2rem(8);
        position: absolute;
        bottom: px2rem(-8);
        left: px2rem(109);
        border-style: solid dashed dashed;
        border-color: #EEEEEE transparent transparent;
        font-size: 0;
        line-height: 0;
      }
      .cut-border9 {
        float: right;
        height: px2rem(46);
        width: px2rem(100);
        border: 2px solid #EEEEEE;
        border-bottom: none;
        position: relative;
        top: px2rem(49);
        margin-right: px2rem(-70);
      }
      .cut-border9:before{
        content: "";
        display: block;
        border-width: px2rem(8);
        position: absolute;
        bottom: px2rem(-8);
        left: px2rem(89);
        border-style: solid dashed dashed;
        border-color: #EEEEEE transparent transparent;
        font-size: 0;
        line-height: 0;
      }
    }
    .cut-border5:before{
      content: "";
      display: block;
      border-width: px2rem(8);
      position: absolute;
      bottom: px2rem(-8);
      left: px2rem(369);
      border-style: solid dashed dashed;
      border-color: #EEEEEE transparent transparent;
      font-size: 0;
      line-height: 0;
    }
  }
  .cut-content {
    // width: 100%;
    // position: relative;
    // top: p2rem(10);
    .content {
      border:2px solid rgba(44,156,250,1);
      background:rgba(44,156,250,0.2);
    }
    div {
      background:rgba(225,229,233,1);
      border-radius:3px;
      height: px2rem(60);
      line-height: px2rem(60);
      float: left;
      margin-left: px2rem(20);
      margin-top: px2rem(20);
      text-align: center;
      &:nth-of-type(1) {
        width: px2rem(80);
        margin-left: px2rem(28);
      }
      &:nth-of-type(2) {
        width: px2rem(120);
      }
      &:nth-of-type(3) {
        width: px2rem(100);
      }
      &:nth-of-type(4) {
        width: px2rem(80);
      }
      &:nth-of-type(5) {
        width: px2rem(120);
      }
      &:nth-of-type(6) {
        width: px2rem(80);
      }
      &:nth-of-type(7) {
        width: px2rem(80);
      }
    }
  }
  .border-bottom {
    .cut-border2 {
      float: left;
      height: px2rem(64);
      line-height: px2rem(90);
      width: px2rem(120);
      border: 2px solid #EEEEEE;
      border-top: none;
      position: relative;
      margin-left: px2rem(66);
    }
    .cut-border2:before{
      content: "";
      display: block;
      border-width: px2rem(8);
      position: absolute;
      top: px2rem(-9);
      left: px2rem(109);
      border-style: solid dashed dashed;
      border-color: transparent transparent #EEEEEE;
      font-size: 0;
      line-height: 0;
    }
    .cut-border4 {
      float: left;
      padding-right: px2rem(100);
      height: px2rem(104);
      line-height: px2rem(165);
      width: px2rem(380);
      border: 2px dotted #EEEEEE;
      border-top: none;
      position: relative;
      margin-left: px2rem(116);
      .cut-border6 {
        float: left;
        height: px2rem(64);
        line-height: px2rem(90);
        width: px2rem(120);
        border: 2px solid #EEEEEE;
        border-top: none;
        position: relative;
        // top: px2rem(70);
        margin-left: px2rem(26);
      }
      .cut-border6:before{
        content: "";
        display: block;
        border-width: px2rem(8);
        position: absolute;
        top: px2rem(-9);
        left: px2rem(109);
        border-style: solid dashed dashed;
        border-color: transparent transparent #EEEEEE;
        font-size: 0;
        line-height: 0;
      }
      .cut-border8 {
        float: right;
        height: px2rem(64);
        line-height: px2rem(90);
        width: px2rem(132);
        border: 2px solid #EEEEEE;
        border-top: none;
        position: relative;
        top: px2rem(-165);
        margin-right: px2rem(-76);
      }
      .cut-border8:before{
        content: "";
        display: block;
        border-width: px2rem(8);
        position: absolute;
        top: px2rem(-8);
        left: px2rem(121);
        border-style: solid dashed dashed;
        border-color: transparent transparent #EEEEEE;
        font-size: 0;
        line-height: 0;
      }
    }
    .cut-border4:before{
      content: "";
      display: block;
      border-width: px2rem(8);
      position: absolute;
      top: px2rem(-8);
      left: px2rem(369);
      border-style: solid dashed dashed;
      border-color: transparent transparent #EEEEEE;
      font-size: 0;
      line-height: 0;
    }
    .cut-border10 {
      float: left;
      height: px2rem(81);
      // width: 1px;
      border-left: 2px solid #EEEEEE;
      position: relative;
      // top: px2rem(70);
      margin-left: px2rem(86);
    }
    .cut-border10:before{
      content: "";
      display: block;
      border-width: px2rem(8);
      position: absolute;
      bottom: px2rem(-9);
      left: px2rem(-9);
      border-style: solid dashed dashed;
      border-color: #EEEEEE transparent transparent;
      font-size: 0;
      line-height: 0;
    }
  }
  .cut-end, .cut-end0 {
    // float: right;
    width: px2rem(92);
    height: px2rem(47);
    line-height: px2rem(47);
    text-align: center;
    background:rgba(225,229,233,1);
    position: relative;
    top: px2rem(-22);
    left: px2rem(725);
    border-radius: px2rem(24);
    font-weight: 500;
  }
  .cut-end0 {
    border:2px solid rgba(44,156,250,1);
    background:rgba(44,156,250,0.2);
  }
}
