$hover-color: #008ED6;
$btn-hover-color: #5CB9FF;

.table-pagination {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1.25rem;

    .left {
        float: left;
        margin-bottom: 1rem;

        .total {
            margin-right: 1.56rem;
        }

        .page-size-button {
            width: 3.125rem;
            padding: 0 5px;
            margin: 0 3px;

            .drop-down-icon {
                margin-left: 3px;
            }
        }
    }

    .right {
        float: right;

        .page-list {
            float: left;
            margin-top: 3px;

            li {
                list-style: none;
                min-width: 1.75rem;
                float: left;
                border: 1px solid #ddd;
                border-left: 0;
                text-align: center;
                padding: 4px;
                cursor: pointer;

                &.disabled {
                    color: #cccccc;
                    cursor: text;

                    &:hover {
                        color: #cccccc;
                    }
                }

                &:first-child {
                    border-radius: 4px 0 0 4px;
                    border-left: 1px solid #ddd;
                    box-shadow: none !important;
                }

                &:last-child {
                    border-radius: 0 4px 4px 0;
                }

                &.active {
                    color: #fff;
                    border-color: $hover-color;
                    background: $hover-color;
                    box-shadow: -1px 0 0 0 $hover-color;

                    &:hover {
                        color: #fff;
                    }
                }

                &:hover {
                    color: $hover-color;
                }
            }
        }

        .page-jump {
            margin-left: 1rem;

            input {
                width: 3.125rem;
                margin: 0 5px;
                text-align: center;
            }

            button {
                height: 1.75rem;
                margin-left: 0.75rem;
                color: $hover-color;
                border: 1px solid $hover-color;

                &:hover {
                    color: $btn-hover-color;
                    border: 1px solid $btn-hover-color;
                }
            }
        }
    }
}
