.login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../image/login/login-bg.png");
    background-size: cover;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login-header {
        span {
            vertical-align: middle;
        }
        p {
            margin-bottom: 20px;
        }
    }

    .china-mobile-icon {
        display: inline-block;
        height: 50px;
        width: 50px;
        background-image: url("../../image/login/china-mobile-logo.svg");
        background-size: cover;
    }

    .system-name {
        display: inline-block;
        height: 22px;
        width: 260px;
        background: url("../../image/login/system-name.png") no-repeat;
        // background-size: cover;
    }

    .login-body {
        margin-top: 20px;
        padding: 42px 48px;
        background: linear-gradient(180deg,rgba(50,86,212,0.5) 0%,rgba(10,21,70,0.5) 100%);
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
        border-radius: 5px;
        text-align: center;

        .input-item {

            line-height: 40px;

            input {
                position: relative;
                padding-left: 8px;
                height: 40px;
                width: 100%;
                border: none;
                border-bottom: 1px solid #D4D4D4;
                font-size: 14px;
                color: #fff;
                background-color: rgba(255, 255, 255, 0);
                outline: none;
            }

            // &::before {
            //     content: "";
            //     display: inline-block;
            //     position: absolute;
            //     margin-top: 7.5px;
            //     margin-left: 7.5px;
            //     width: 25px;
            //     height: 25px;
            //     background-size: cover;
            // }

            // &.username::before {
            //     background-image: url("../../image/login/username-icon.png");
            // }

            &.password {
                margin-top: 20px;
                // &::before {
                //     background-image: url("../../image/login/password-icon.png");
                // }
            }
        }

        .login-link {
            margin-top: 20px;

            .member {
                float: left;
                font-size: 12px;
                color: #D8E4F9;
            }

            .forget-password {
                float: right;
                font-size: 12px;
                color: #0085D0;
            }
        }

        .login-btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 40px;
            width: 85px;
            height: 32px;
            line-height: 32px;
            color: #fff;
            background: rgba(0,133,208,1);
            box-shadow: 0 1px 4px 0 rgba(2,18,52,0.61);
            border-radius: 20px;
            cursor: pointer;
            &:hover {
                background-color: rgba(43, 90, 172, 1);
            }
        }
    }
}
