@import "../../util";
.fontB{
    font-size:24px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(44,156,250,1);
    margin-left: px2rem(10);
    vertical-align: sub;
}
.fontR{
    font-size:24px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(243,91,91,1);
    margin-left: px2rem(10);
    vertical-align: sub;
}
.busisupport{
    background-color: #F1F4F9;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(60,62,74,1);
    .ant-tabs-nav-scroll{
        text-align: left;
        padding-left: px2rem(32);
    }
    .reset-btn {
        margin-left: 10px;
    }
    .title{
        background-color:#FFFFFF;
        padding: px2rem(8) px2rem(32);
        margin-bottom: px2rem(12);
        overflow: hidden;
        .item1{
            float: left;
            //margin-right: 29%;//406px
            line-height: px2rem(30);
            color: #3C3E4A;
            font-size:14px;
            font-family:PingFangSC-Regular;
            font-weight:600;
        }
        .item2{
            .active{
                background-color:#2C9CFA ;
                color: white;
                display: inline-block;
                width:px2rem(98);
                height: px2rem(30);
                line-height: px2rem(30);
                text-align: center;
                cursor: pointer;
            }
            .noneact{
                background-color: #F9FBFC;
                color: #3C3E4A ;
                display: inline-block;
                width:px2rem(98);
                height: px2rem(32);
                line-height: px2rem(32);
                text-align: center;
                cursor: pointer;
                &:hover{
                    color:#2C9CFA ;
                }
            }
        }
    }
    .filter-wrap {
        width: 95%;//1302px
        margin: 0 auto;
        position: relative;
        padding: px2rem(4) px2rem(20);
        background-color: #fff;
        margin-bottom: px2rem(12);
        text-align: left;
        .filter-item {
            &:nth-child(n+2) {
                margin-left: 3rem;
            }
        }

        .right-btn {
            position: absolute;
            right: px2rem(20);
            padding-left: 10px;
            border-left: 1px solid #E5E5E5;

            .ant-btn {
                margin-left: 10px;
            }
        }

        &.table-filter {
            margin-top: px2rem(10);
            padding: px2rem(10) px2rem(20);
            background-color: #F0F3F7;

            .ant-select {
                height: 28px;
                width: 180px;
            }
            .ant-input {
                height: 28px;
                width: 238px;
            }
        }
    }
    .time-area{
        width: 95%;//1302px
        margin: 0 auto;
        background-color:#FFFFFF ;
        padding: px2rem(10) px2rem(15);
        overflow: hidden;
        margin-bottom: px2rem(12);
        .ant-select-selection{
            width: px2rem(130);
        }
        .fleft{
            float: left;
            margin-right: px2rem(30);
            .ant-calendar-picker{
                width: px2rem(250);
            }
        }
        .btn{
            float: right;
            padding-left:px2rem(10);
            border-left: 1px dashed lightgray;
        }
    }
    .content{
        background-color:#FFFFFF ;
        width: 95%;//1302px
        margin: 0 auto;
        text-align: left;
        padding: px2rem(10) px2rem(15);
        .export{
            float: right;
            color: #2C9CFAFF;
            margin-bottom: px2rem(10);
        }
        .message{
            margin-bottom: px2rem(20);
            .mes-tit{
                padding-left: px2rem(10);
                border-left: px2rem(3)solid #689AF5;
                margin-bottom: px2rem(10);
            }
            .block1{
                border: 1px solid #F4F4F4FF;
                margin-bottom: px2rem(10);
                .line1{
                    display: flex;
                    background-color: #F0F3F763;
                    .item{
                        width: 25%;
                        padding: px2rem(10);
                        border-right: 1px solid #F4F4F4FF;
                        border-bottom: 1px solid #F4F4F4FF;
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
                .line2{
                    display: flex;
                    .item{
                        width: 33%;
                        padding: px2rem(10);
                        border-right: 1px solid #F4F4F4FF;
                        height: px2rem(250);
                        &:last-child{
                            border-right: none;
                        }
                        .wrap{
                            display: flex;
                            justify-content: space-between;
                            height: 80%;
                            margin-top: px2rem(10);
                            p:first-child{
                                margin-bottom: px2rem(10);
                            }
                            p:last-child{
                                font-size:24px;
                                font-family:PingFangSC-Semibold;
                                font-weight:600;
                                color:rgba(44,156,250,1);
                            }
                            .left{
                                width: 30%;
                                height: 45%;
                                padding: 0.5rem 0.625rem;
                                background-color: #F9FBFC;
                                margin-top:15%;
                            }
                            .right{
                                width: 63%;
                            }
                        }
                    }
                }
            }
            .block2{
                border: 1px solid #F4F4F4FF;
                .line1{
                    background-color: #F0F3F763;
                    padding: px2rem(15);
                    border-bottom: 1px solid #F4F4F4FF;
                }
                .pro-wrapper{
                    background-color: white;
                    padding: px2rem(10);
                    height: px2rem(335);
                }
            }
        }
        .list{
            // 表格中样式
            .policy{
                width: px2rem(72);
                height: px2rem(28);
                border: 1px solid #D5EDFE;
                border-radius:2px;
                background:rgba(232,246,254,1);
                font-size:14px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(44,156,250,1);
                margin-right: px2rem(8);
            }
            .inter{
                width: px2rem(72);
                height: px2rem(28);
                border: 1px solid #DFF2E7;
                border-radius:2px;
                background:rgba(243,255,237,1);;
                font-size:14px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(113,202,65,1);
                margin-right: px2rem(8);
            }
            .client{
                img{
                    margin-right: px2rem(7);
                    margin-bottom: px2rem(3);
                }
            }
            .control-line{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .list-tit{
                padding-left: px2rem(10);
                border-left: px2rem(3)solid #689AF5;
                margin-bottom: px2rem(10);
            }
            .select{
                background-color: #F0F3F763;
                padding: px2rem(10) px2rem(15);
                margin-bottom: px2rem(10);
                .ant-form{
                    height: px2rem(40);
                    display: flex;
                    justify-content: space-between;
                    .left{
                        width: 50%;
                        display: flex;
                        justify-content: space-between;
                        .ant-form-item-control-wrapper{
                            width: px2rem(100);
                            display: inline-block;
                        }
                    }
                    .right{
                        border-left: 1px solid #EFF0F1;
                        padding-left: 1.25rem;
                    }
                }
            }
            .record{
                float: left;
                .num {
                    margin: 0 3px;
                    color: #50AFFF;
                }
            }
            .total{
                display: none;
            }
        }
    }
}
