@import '../util.scss';

.overview-wrap {
    padding: px2rem(20);

    .overview-module-wrap:nth-child(n+2) {
        margin-top: px2rem(20);
    }
}

.overview-custom-btn {
    margin-bottom: px2rem(20);
    font-size: 16px;
    color: #3C3E4A;
    background-color: #fff;
    box-shadow: rgb(227, 230, 234) 0px -2px 4px 0px;
    cursor: pointer;
    @include height-line-height(40px);
}
