* {
  margin: 0;
  padding: 0;
}

.main-container {
  margin-bottom: 0;
}

.main-content-footer {
  padding: 0;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-size: 14px;
  background: rgba(29, 29, 89, 1);
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* 定义滚动条轨道 圆角 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

/* 定义滑块 圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(160, 166, 175);
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

/* 清除浮动代码 */
.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}

.clearfloat {
  zoom: 1;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 0 8px !important;
}

.ant-table-row.line-selected {
  background: rgba(44, 156, 250, 0.77);

  * {
    color: #fff !important;
  }

  &:hover,
  &:focus {
    td {
      background: rgba(44, 156, 250, 0.77);
    }
  }
}
