@import '../css/util';
.line-modal {
  background-color: white;
  .operation {
    position: absolute;
    width: px2rem(87);
    top: px2rem(30);
    right: px2rem(8);
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    li {
      padding: px2rem(10);
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(60, 62, 74, 1);
      cursor: pointer;
      &:hover {
        background: rgba(209, 233, 254, 0.77);
      }
    }
  }
  p {
    text-align: left;
    padding: px2rem(10) px2rem(16);
    color: #72758c;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
  }
  .tableChoose {
    .alarm-line1 {
      display: flex;
      margin-bottom: px2rem(8);
      height: 2.5rem;
      line-height: 2.5rem;
      border-bottom: 1px solid #f4f4f4;
      justify-content: space-between;
      overflow: hidden;

      .warn-title {
        text-align: left;
        // padding: 0.625rem 1rem;
        color: #72758c;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
      }

      > div {
        div:nth-child(2) {
          line-height: px2rem(35);
          img:first-child {
            margin-right: px2rem(15);
          }
        }
        div:last-child {
          float: right;
        }
      }

      .actbutt {
        background-color: #2c9cfa;
        padding: px2rem(4) px2rem(20);
        color: white;
        margin-right: px2rem(5);
        border: none;
        font-family: PingFangSC-Regular;
        font-weight: 400;
      }
      .butt {
        //width: px2rem(68);
        //height: 28px;
        padding: px2rem(4) px2rem(20);
        background-color: #f9fbfc;
        color: #3c3e4a;
        border: none;
        font-family: PingFangSC-Regular;
        font-weight: 400;
      }
      .circle {
        // border-left: 1px solid #E2E2E2;
        // padding: px2rem(8) px2rem(14);
        display: flex;
        .item {
          display: flex;
          // line-height: 20px;
          margin-right: 27px;
          span {
            margin-left: px2rem(6);
            font-size: 12px;
            font-family: MicrosoftYaHei;
            color: rgba(60, 62, 74, 1);
          }
          div:first-child {
            width: px2rem(10);
            height: px2rem(10);
            display: flex;
            flex-wrap: wrap;
            .top {
              width: 50%;
              height: 50%;
              border-radius: px2rem(5) 0 0 0;
              background-color: #8bbcfe;
            }
            .right {
              height: 50%;
              width: 50%;
              border-radius: 0 px2rem(5) 0 0;
              background-color: #ff6464;
            }
            .bottom {
              width: 50%;
              height: 50%;
              border-radius: 0 0 0 px2rem(5);
              background-color: #ffa85a;
            }
            .left {
              width: 50%;
              height: 50%;
              border-radius: 0 0 px2rem(5) 0;
              background-color: #ffec6f;
            }
          }
          .comm {
            margin-top: px2rem(15);
            width: px2rem(10);
            height: px2rem(10);
            border-radius: 50%;
          }
        }
      }
    }
    .busifault-table {
      table {
        table-layout: fixed;
        .control-line {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .alarm {
          width: px2rem(92);
          height: px2rem(20);
          border-radius: px2rem(10);
        }
      }
    }
  }

  .table-pagination {
    margin-top: px2rem(4);
    margin-bottom: 0;

    .left {
      margin-bottom: 0;
    }
  }
}
