$color-white: #ffffff;
$color-white-light: #F6F6F6;
$color-nav: rgba(255, 255, 255, 0.85);
$color-white-dark: #B8B8B8;
$color-separator: #979797;

$color-red: #FA3E2E;
$color-red-light: #FB6658;
$color-green: #41AF75;
$color-blue: #30A0FF;
$color-blue-border: #4A68B0;
$color-yellow: #DEE011;
$color-yellow-light: #F2F33B;
$color-cyan: #31D9FF;
$color-cyan-weight:#02D3FE;
$color-header-bg: #0F294F;
$color-bg: #07152A;
$color-map-bg: #1E335C;
$color-map-inner-border: #426CB8;
$color-spin-bg: rgba(25, 87, 151, 0.2);

$color-tip: #EAEAEA;
$color-tip-small: #DDDDDD;
$color-hover: #2c9cfa;
$color-selected: #195797;
$color-bg-hover: rgba(25, 87, 151, 0.50);

$tcolor-white: rgba(255,255,255,1);
$tcolor-dark: rgba(60, 62, 74, 1);
$tcolor-dark-light: rgba(114,117,140,1);
$color-btn-checked: rgba(44,156,250,0.25);
$color-btnwrap-checked: rgba(44,156,250,1);
$white: #fff;
$success: rgba(136,208,104,1);
$info: rgba(89,173,244,1);
$error: rgba(135,118,239,1);
$border-color: #F4F4F4;
$hover-color: #EAF5FF;
$table-header: rgba(240,243,247,0.39);

$font-size-obvious: 40px; // 2.5rem
$font-size-title: 32px; // 2rem
$font-size-largest: 20px; // 1.25rem
$font-size-large: 18px; // 1.125rem
$font-size-root: 16px; // 1rem
$font-size-basic: 14px; // 14px
$font-size-small: 12px; // 0.75rem
$font-size-formal: 10px;// 0.625rem
$font-size-bold: 24px;// 1.5rem

$ball-color-asecond: rgba(255,168,90,0.4);
$ball-color-bsecond: rgba(255,168,90,1);

$ball-color-afirst: rgba(255,100,100,0.4);
$ball-color-bfirst: rgba(255,100,100,1);

$ball-color-athird: rgba(255,236,111,0.4);
$ball-color-bthird: rgba(255,236,111,1);

$ball-color-afouth: rgba(139,188,254,0.4);
$ball-color-bfouth: rgba(139,188,254,1);

$header-height: 4rem;
$space: 1rem;

$scrollbar-track-color: transparent;
$scrollbar-thumb-color: #256FAD;
$scrollbar-size: 7px;

@mixin flex-layout($direction: column, $justify: center,$wrap: nowrap, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
  align-items: $align;
}

@function px2rem($px) {
  @return #{($px / 16)}rem;
}

@mixin height-line-height ($height) {
    height: $height;
    line-height: $height;
}
