.chart-example-home {
    position: absolute;
    left: 10px;
    bottom: 30px;
    padding: 0 12px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    font-size: 12px;

    .item {
        float: left;

        &:nth-child(n+2) {
            margin-left: 12px;
        }

        .title {
            font-size: 12px;
            font-weight: 600;
        }

        .color-item-wrap {
            margin-top: 10px;

            .color-item {
                height: 22px;
                line-height: 22px;

                .color-icon {
                    display: inline-block;
                    width: 10px;
                    height: 6px;
                    vertical-align: middle;
                }

                .color-description {
                    margin-left: 6px;
                    vertical-align: middle;
                }
            }
        }

    }
}
