@import '../util.scss';

.analysis-wrap {

    font-size: 14px;
    text-align: left;
    font-family: "PingFang SC Regular", "Microsoft YaHei", serif;

    header {
        padding-left: 2rem;
        height: 2rem;
        line-height: 2rem;
        background: white;

        .text {
            font-weight: 600;
        }

        .type-select {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            span {
                display: inline-block;
                width: 7.5rem;
                height: 1.75rem;
                line-height: 1.75rem;
                color: #3C3E4A;
                background-color: #F9FBFC;
                text-align: center;
                transition: all .3s;
                cursor: pointer;

                &.active {
                    color: white;
                    background-color: #2C9CFA;
                }
            }
        }
    }

    .analysis-body {
        margin: 0 2rem;

        .ant-tabs-tab {
            padding: 12px 16px 6px 16px;
        }

        .filter-wrap {
            position: relative;
            padding: px2rem(4) px2rem(20);
            background-color: #fff;

            &:first-child {
                margin-top: px2rem(12);
            }

            .filter-item {
                &:nth-child(n+2) {
                    margin-left: 2rem;
                }
            }

            .right-btn {
                position: absolute;
                top: 50%;
                right: px2rem(20);
                transform: translateY(-50%);
                padding-left: 10px;
                border-left: 1px solid #F4F4F4;

                .ant-btn {
                    margin-left: 10px;
                }
            }

            &.table-filter {
                margin-top: px2rem(10);
                padding: px2rem(10) px2rem(20);
                background-color: #F0F3F7;

                .ant-select {
                    height: 28px;
                    width: 160px;
                }
                .ant-input {
                    height: 32px;
                    width: 240px;
                }
            }

            // 故障工单两行筛选条件
            &.service-fault .label {
                display: inline-block;
                width: 100px;
                text-align: right;
            }

            & > div.new-line {
                margin-top: px2rem(10);
            }
        }

        section {
            margin-top: px2rem(12);
            padding: 1rem;
            background-color: #fff;

            .title {
                height: px2rem(20);
                line-height: px2rem(20);
                padding-left: px2rem(6);
                border-left: px2rem(3) solid #689AF5;

                &.table-title {
                    margin-top: px2rem(20);
                }
            }

            .statistic-info {
                margin: 0;
                margin-top: px2rem(10);
                height: px2rem(112);
                border: 1px solid #F4F4F4;

                &.business, &.service {
                    margin-top: 0;
                    height: auto;
                    border: none;
                }

                .info-name {
                    height: px2rem(20);
                    line-height: px2rem(20);
                    font-size: 14px;
                    color: #72758C;

                    &.info-title {
                        display: inline-block;
                        padding-left: px2rem(18);
                        vertical-align: top;
                    }
                }

                .info-value {
                    height: px2rem(42);
                    line-height: px2rem(42);
                    font-size: 20px;
                    color:rgba(44,156,250,1);
                    font-weight: normal;
                    font-family:PingFangSC-Semibold;

                    &.port {
                        height: px2rem(24);
                        line-height: px2rem(24);
                    }

                    .separate {
                        font-size: 16px;
                        color: #BCBCBC;
                    }
                }

                .left-item {
                    display: inline-block;
                    padding: px2rem(30) px2rem(18);
                    height: 100%;
                    width: px2rem(180);
                    background-color:rgba(240, 243, 247, 1);
                }

                .right-item {
                    display: inline-block;
                    margin: px2rem(10) 0;
                    width: px2rem(152);
                    padding-left: px2rem(18);
                    background:#fff;

                    &:nth-of-type(n+2) {
                        border-left: 1px solid #F4F4F4;
                    }

                    &.port {
                        margin: px2rem(6) 0;
                    }
                }

                .info-item {
                    display: inline-block;
                    margin: px2rem(10) 0;
                    padding: px2rem(10);
                    height: px2rem(84);
                    width: px2rem(168);
                    background:rgba(240, 243, 247, 0.39);
                    transition: all .5s;
                    cursor: pointer;

                    &:nth-of-type(n+2) {
                        margin-left: px2rem(10);
                    }
                    &.active {
                        background:rgba(209, 233, 254, 0.77);
                    }
                    &:last-child {
                        width: px2rem(192);
                    }
                }

                &.service {
                    .info-item {
                        // &:nth-child(1) {
                            padding: px2rem(50) px2rem(20);
                            height: px2rem(144);
                        // }
                        // &:nth-child(n+2) {
                        //     display: block;
                        // }
                    }
                }

                .right-items {
                    display: inline-block;
                    padding: px2rem(10) 0;
                    height: 100%;
                    vertical-align: top;
                }

                .pie-chart {
                    float: none;
                    display: inline-block;
                    margin: 0 0 0.625rem px2rem(150);
                    height: px2rem(144) !important;
                    width: px2rem(320);
                    vertical-align: top;
                }
            }

            .province-info {
                margin-top: px2rem(10);
            }

            .province-filter {
                padding: 0 px2rem(18);
                height: px2rem(40);
                line-height: px2rem(40);
                border: 1px solid #F4F4F4;
                border-bottom: none;
                background-color:rgba(240, 243, 247, 1);

                .ant-select {
                    margin-left: 36px;
                    width: 120px;
                    height: 28px;
                }
            }

            .echart-title {
                position: relative;
                margin-top: px2rem(4);
                height: px2rem(32);
                line-height: px2rem(32);
                padding: 0 px2rem(18);

                .export {
                    float: right;
                    color: #2C9CFA;
                    cursor: pointer;

                    .anticon-download {
                        margin-right: 3px;
                    }
                }

                .num {
                    margin: 0 3px;
                    color: #50AFFF;
                }

                .filter-btn {
                    position: absolute;
                    display: inline-block;
                    left: 0;
                    margin-left: 50%;
                    transform: translateX(-50%);

                    span {
                        display: inline-block;
                        height: 32px;
                        width: 100px;
                        line-height: 32px;
                        border: 1px solid #F4F4F4;
                        text-align: center;
                        cursor: pointer;

                        &.active {
                            color: #2C9CFA;
                            border-color: #2C9CFA;
                            background:rgba(44, 156, 250, 0.25);
                        }
                    }
                }
            }

            .echart-wrap {
                border: 1px solid #F4F4F4;

                .province-echart, .line-chart {
                    height: px2rem(210) !important;
                    width: 100%;
                }

                &:nth-of-type(n+2) {
                    margin-top: px2rem(10);
                }
            }
        }

        .fixed-subtitle-table {
            th {
                height: 2.1875rem;
            }
        }

        .business-quality-table {
            th {
                height: 2.5rem;
            }
        }

        table{
            .control-line{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .alarm{
                width: px2rem(92);
                height: px2rem(20);
                border-radius: px2rem(10);
            }
        }
    }
}
