@import "../../css/util";

.alarmdetail {
    background-color: #F1F4F9;

    .title {
        background-color: #FFFFFF;
        padding: px2rem(8) px2rem(32);
        margin-bottom: px2rem(12);
        text-align: left;
        overflow: hidden;

        .back {
            font-size: 14px;
            font-weight: normal;
            color: #2C9CFA;
            cursor: pointer;
        }

        .item1 {
            line-height: px2rem(30);
            color: #3C3E4A;
            font-size: 14px;
            font-family: PingFangSC-Regular;
            font-weight: 600;
        }
    }

    .content {
        width: 95%; //1302px
        margin: 0 auto;
        margin-bottom: px2rem(46);
        text-align: left;

        .ant-tabs {
            height: px2rem(850);
        }

        .ant-tabs-bar {
            background-color: white;
            margin-right: px2rem(10);
        }

        .ant-tabs-nav .ant-tabs-tab-active {
            background: rgba(44, 156, 250, 0.1);
        }

        .ant-tabs-content {
            background-color: white;
            padding: px2rem(20);
            height: 100%;
            border: none;

            .alarm-tab {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .item {
                    display: flex;
                    width: 49%;

                    &.top-border {
                        border-top: 1px solid #F4F4F4;
                    }

                    &.right-border {
                        border-right: 1px solid #F4F4F4;
                    }

                    .left {
                        width: 42%;
                        padding: px2rem(10) px2rem(15);
                        font-size: 14px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(102, 102, 102, 1);
                        background: rgba(240, 243, 247, 0.39);
                        word-break: break-all;
                    }

                    .right {
                        width: 58%;
                        border-bottom: 1px solid #F4F4F4;
                        padding: px2rem(10) px2rem(15);
                        font-size: 14px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(102, 102, 102, 1);
                        word-break: break-all;
                    }
                }
            }
        }
    }
}
