.notice-edit-modal {

    .save {
        border-color: rgba(44, 156, 250, 1);
        color: #2C9CFA;

        &:hover {
            border-color: rgb(92, 185, 255);
            color: rgb(92, 185, 255);
        }
    }

    .edit-notice {

        padding: 0 48px;

        .notice-row {
            position: relative;
            margin-bottom: 3px;

            .ant-radio-group {
                margin-top: -6px;
            }

            .notice-label {
                display: inline-block;
                width: 76px;
                margin-right: 15px;
                font-size: 14px;
                color: #5B5B5B;
                text-align: right;
                vertical-align: top;
                em {
                    margin-right: 5px;
                    font-size: 14px;
                    color: red;
                }
            }

            .notice-title {
                padding-left: 5px;
                height: 30px;
                width: 400px;
                border: 1px solid #BFBFBF;
                border-radius: 4px;
            }
            textarea {
                padding-top: 3px;
                padding-left: 5px;
                height: 120px;
                width: 400px;
                resize: none;
                border: 1px solid #BFBFBF;
                border-radius: 4px;
            }
            h4 {
                margin-left: 87px;
                font-size: 12px;
                color: #999999;
                letter-spacing: -0.29px;
            }
            .notice-time{
                display: inline-block;
            }
        }
        .add-notice-row:nth-of-type(3n+1) {
            .add-notice-label {
                margin-top: 4px;
            }
            .date-select span:nth-of-type(2) {
                position: relative;
                top: -10px\9;
            }
        }
        .error-message {
            margin-left: 89px;
            margin-bottom: 3px;
            font-size: 12px;
            height: 16px;
            color: red;
        }
        .active{
            display: block;
        }

        .active-time input {
            border-color: rgba(44, 156, 250, 1);
            color: rgba(44, 156, 250, 1);
        }
    }
}
