@import '../util.scss';
.overview-module-wrap {
    padding: 8px 18px 18px 18px;
    background-color: #fff;

    .overview-module-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);

        .left {
            height: px2rem(18);
            border-left: 3px solid #699af4;

            span {
                line-height: px2rem(18);
                margin-left: px2rem(10);
            }

            .province {
                font-size: 12px;
                color: #2C9CFA;
                cursor: pointer;
            }
        }

        .right {
            text-align: right;

            button {
                margin-left: px2rem(8);
            }
        }
    }

    .overview-module-content {
        margin-top: px2rem(10);
    }
}
