@import "../util.scss";
.home {
    @mixin wrap() {
        height: px2rem(590);
        background-color: #1d1d59;
    }

    position: relative;
    @include wrap();

    .cover-scope-wrap {
        @include wrap();
    }

    .business-quality-wrap {
        @include wrap();
    }
}

