@import "../../css/util";
.busifault{
    background-color: #F1F4F9;
    .ant-input-search{
        margin-top: px2rem(10);
        input{
            font-size: 14px;
        }
    }
    .title{
        //height: px2rem(40);
        background-color:#FFFFFF;
        padding: px2rem(8) px2rem(32);
        margin-bottom: px2rem(12);
        overflow: hidden;
        .item1{
            float: left;
            margin-right: 36%;//497px
            line-height: px2rem(30);
            color: #3C3E4A;
            font-size:14px;
            font-family:PingFangSC-Regular;
            font-weight:600;
        }
        .item2{
            float: left;
            font-size:14px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            .active{
                background-color:#2C9CFA ;
                color: white;
                display: inline-block;
                width:px2rem(98);
                height: px2rem(30);
                line-height: px2rem(30);
                text-align: center;
                cursor: pointer;
            }
            .noneact{
                background-color: #F9FBFC;
                color: #3C3E4A ;
                display: inline-block;
                width:px2rem(98);
                height: px2rem(32);
                line-height: px2rem(32);
                text-align: center;
                cursor: pointer;
            }
        }
        .search{
            float: right;
            width: px2rem(222);
        }
    }
    .content{
        width: 97%;//1302px
        margin: 0 auto;
        .block1{
            padding: px2rem(9) 0 px2rem(11) px2rem(30);
            background-color: #ffffff;
            overflow: hidden;
            color: #72758C;
            margin-bottom: px2rem(12);
            .left{
                float: left;
                span{
                    display: inline-block;
                    line-height: px2rem(28);
                    font-size:14px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    color:rgba(114,117,140,1);
                }
                span:first-child{
                    color: #3C3E4A ;
                    font-size:14px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    margin-right: px2rem(40);
                }
                span:nth-child(3){
                    color: #2C9CFA;
                    font-size: 18px;
                    margin-right: px2rem(50);
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                }
                span:nth-child(5){
                    color: #2C9CFA;
                    font-size: 18px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;

                }
                &:last-child{
                    float: right;
                    margin-right: px2rem(80);
                }
            }
        }
        .block2{
            overflow: hidden;
            height: px2rem(496);
            margin-bottom: px2rem(12);
            .left1{
                position: relative;
                width: 62%;//876px
                float: left;
                background-color: white;
                height: 100%;
                //padding: px2rem(15) px2rem(19);
                .showdata{
                    width: px2rem(135);
                    height: px2rem(69);
                    padding: px2rem(6) px2rem(10);
                    background-color: #F9FBFC;
                    float: left;
                    margin-right:px2rem(12) ;
                    p:first-child{
                        color:#72758C;
                        font-size:14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        margin-bottom: px2rem(5);
                    }
                    p:last-child{
                        font-size: 24px;
                        font-family:PingFangSC-Semibold;
                        font-weight:600;
                        color:rgba(100,108,112,1);
                    }
                }
            }
            .right1{
                width: 37%;//414px
                float: right;
                background-color: white;
                height: 100%;
                padding: px2rem(15) px2rem(19);
                .lineTable{
                    &.table-pagination{
                        margin: px2rem(5) 0
                    }
                    .pagination-left{
                        display: none;
                    }
                    .pagination-right{
                        display: inline-block;
                        float: none;
                        .pagination-jump{
                            display: none;
                        }
                    }
                }
                .line1{
                    margin-bottom: px2rem(10);
                    text-align: left;
                    span:first-child{
                        margin-right:px2rem(220);
                        color: #72758C;
                        font-size:14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                    }
                    span:nth-child(2){
                        font-size: 14px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(114,117,140,1);
                    }
                }
                .line-list{
                    table{
                        table-layout: fixed;
                        font-size: 14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(114,117,140,1);
                        th{
                            background-color: #F9FBFC;
                            height: px2rem(48);
                            &:first-child{
                                padding-left: px2rem(35);
                            }
                        }
                        td{
                            height: px2rem(40);
                        }
                    }
                    .line{
                        width:px2rem(200);
                        text-align: left;
                        font-size: 14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(114,117,140,1);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        .key{
                            display: inline-block;
                            width: px2rem(16);
                            height: px2rem(16);
                            border-radius: px2rem(2);
                            font-size:12px;
                            font-family:PingFangSC-Regular;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                            text-align: center;
                            margin-right: px2rem(8);
                        }
                    }
                    .alarm{
                        font-size: 14px;
                        font-family:PingFangSC-Semibold;
                        font-weight:600;
                        color:rgba(243,91,91,1);
                    }
                    .detail{
                        font-size: 14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(44,156,250,1);
                    }
                }
            }
        }
        .block3{
            background-color: white;
            margin-bottom: px2rem(32);
            p{
                color: #72758C;
                font-size: 14px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                line-height: px2rem(35);
            }
            .tableChoose{
                overflow: hidden;
                padding: px2rem(8) px2rem(16) ;
                padding-bottom: 0;
                .line1{
                    padding-bottom: px2rem(8);
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: px2rem(8);
                    font-size:14px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    border-bottom:1px solid #F4F4F4;
                    .actbutt{
                        background-color: #2C9CFA;
                        padding: px2rem(4) px2rem(20);
                        color: white;
                        margin-right: px2rem(5);
                        border: none;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                    }
                    .butt{
                        padding: px2rem(4) px2rem(20);
                        background-color: #F9FBFC;
                        color: #3C3E4A;
                        border: none;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                    }
                    .circle{
                        border-left: 1px solid #E2E2E2;
                        padding: px2rem(8) px2rem(14);
                        padding-right: 0;
                        display: flex;
                        .item{
                            display: flex;
                            line-height: 20px;
                            margin-right: px2rem(27);
                            &:last-child{
                                margin-right: 0;
                            }
                            span{
                                margin-left: px2rem(6);
                                font-size:12px;
                                font-family:MicrosoftYaHei;
                                color:rgba(60,62,74,1);
                            }
                            div:first-child{
                                width: px2rem(10);
                                height: px2rem(10);
                                display: flex;
                                flex-wrap: wrap;
                                .top
                                {
                                    width: 50%;
                                    height: 50%;
                                    border-radius: px2rem(5) 0 0 0;
                                    background-color: #8BBCFE;
                                }
                                .right {
                                    height: 50%;
                                    width: 50%;
                                    border-radius: 0 px2rem(5) 0 0;
                                    background-color: #FF6464;
                                }
                                .bottom {
                                    width: 50%;
                                    height: 50%;
                                    border-radius: 0 0 0 px2rem(5);
                                    background-color: #FFA85A;
                                }
                                .left {
                                    width: 50%;
                                    height: 50%;
                                    border-radius: 0 0 px2rem(5) 0;
                                    background-color: #FFEC6F;
                                }
                            }
                            .comm{
                                width: px2rem(10);
                                height: px2rem(10);
                                border-radius: 50%;
                                margin-top: 5px;
                            }
                        }

                    }
                }
                .busifault-table{
                    .ant-table td {
                        white-space: nowrap;
                    }
                    table{
                        //table-layout: fixed;
                        font-size:14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(114,117,140,1);
                        th{
                            font-size: 14px;
                            background-color: #F9FBFC;
                            height: px2rem(48);
                        }
                        td{
                            height: px2rem(48);
                        }
                        .control-line{
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .alarm{
                            width: px2rem(92);
                            height: px2rem(20);
                            line-height: px2rem(20);
                            border-radius: px2rem(10);
                            margin: 0 auto;
                            color:rgba(60,62,74,1);
                        }
                    }
                }
            }
        }
    }
}

