@import '../../../../assets/css/util.scss';

.fuYong-content {
    margin: px2rem(15) 0;
    margin-bottom: px2rem(15);
    padding-bottom: px2rem(1);
    background: $tcolor-white;
    text-align: left;
    .fuYong-span {
        border-left: 3px solid $color-btnwrap-checked;
        line-height: $space;
        padding-left: $space * 0.625;
        margin: $space;
        display: block;
    }
    .fu-yong {
        display: block;
        float: left;
        text-align: left;
        height: px2rem(80);
        width: px2rem(200);
        margin: 0 px2rem(15) px2rem(15);
        background: #f0f3f7;
        &:hover {
            color: rgba(44, 156, 250, 1);
            cursor: pointer;
        }
        span {
            display: block;
            padding-top: px2rem(10);
            &:nth-child(2) {
                font-size: 24px;
                font-weight: 600;
                color: rgba(44, 156, 250, 1);
            }
        }
    }
    .active {
        background: #d1e9fe;
        border-color: #d1e9fe;
    }
    .province-situation {
        // width: 80%;
        height: px2rem(350);
        margin: px2rem(15);
        margin-top: 0;
        border: 1px solid #e5e5e5;
        .first-rate {
            float: left;
        }
        .second-rate {
            float: right;
        }
        .chart-export {
            padding: px2rem(10) px2rem(15);
            > span {
                // display: block;
                float: left;
            }
            .download-excel {
                float: right;
                margin-right: px2rem(15);
                color: $color-btnwrap-checked;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .usageRate-low {
            width: px2rem(500);
            margin: px2rem(15);
            margin-top: 0;

            .usage-title {
                padding-bottom: px2rem(10);
            }
            .usage-content {
                margin-top: px2rem(15);
                .content-name {
                    float: left;
                    width: px2rem(260);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    text-align: left;
                }
                .ant-tooltip-content {
                    .ant-tooltip-arrow {
                        display: none;
                    }
                    .ant-tooltip-inner {
                        color: #000;
                        .content-detail {
                            .content-circle,
                            .content-rate {
                                float: left !important;
                                // margin-right: px2rem(10);
                                // margin-top: px2rem(10);
                            }
                            .content-circle {
                                height: 10px;
                                width: 10px;
                                background: rgba(44, 156, 250, 0.3);
                                border: 1px solid #2c9cfa;
                                border-radius: 5px;
                                // margin-top: px2rem(15);
                            }
                        }
                    }
                }
            }
            .ant-progress {
                // display: block;
                float: left;
                margin-left: px2rem(15);
                width: 40%;
                .ant-progress-inner {
                    border-radius: 0%;
                    .ant-progress-bg {
                        border-radius: 0% !important;
                        background: linear-gradient(to right, red, blue);
                    }
                }
            }
        }
    }

    .fuYong-list-content {
        margin-bottom: px2rem(15);
        // padding-bottom: px2rem(1);
        background: $tcolor-white;
        .list-title {
            border-left: 3px solid $color-btnwrap-checked;
            line-height: $space * 2;
            padding-left: $space * 0.625;
            margin-left: $space;
        }
        .table-header {
            @media screen and (max-width: 1360px) {
                display: flex;
                // align-items: center;
                .header-btn {
                    display: flex;
                    align-items: center;
                }
            }
        }
        .list-header,
        .table-header {
            margin: px2rem(15);
            padding: px2rem(10) 0;
            background: #f0f3f7;
            // display: flex;
            .header-text {
                margin-left: px2rem(20);
            }
            .ant-input {
                width: px2rem(130);
            }
            .list-btn,
            .header-btn {
                float: right;
                margin-right: px2rem(15);
                padding-left: px2rem(10);
                border-left: 1px dashed grey;
                .ant-btn {
                    margin-left: px2rem(10);
                }
                span {
                    margin-left: 0;
                }
            }
            .header-select {
                width: 85%;
                float: left;
            }
            .belongs-to,
            .ant-select-show-search:nth-of-type(3) {
                @media screen and (min-width: 1360px) {
                    margin-top: 0;
                }
                margin-top: px2rem(8);
                // margin-left: px2rem(-4);
                width: px2rem(200);
            }
            .ant-select-show-search:nth-of-type(3) {
                .ant-input {
                    width: px2rem(200);
                }
            }
        }
        .table-download {
            .record-text {
                margin-left: px2rem(15);
                .record-number {
                    color: $color-btnwrap-checked;
                    padding: 0 px2rem(3);
                }
            }
            .download-excel {
                float: right;
                margin-right: px2rem(15);
                color: $color-btnwrap-checked;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        // a {
        //   float: right;
        //   margin-right: px2rem(15);
        //   margin-bottom: px2rem(15);
        // }
        .ant-table-wrapper {
            margin: px2rem(15);
            table {
                table-layout: fixed;
                tr td div {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    .color-first {
                        color: #7bd389;
                    }
                    .color-second {
                        color: #6facf7;
                    }
                }
                .record-name,
                .fuyong-id {
                    width: px2rem(120);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    text-align: left;
                }
                .fuyong-id {
                    width: px2rem(80);
                }
            }
            // .ant-table-align-left {
            //   &:nth-of-type(4) {
            //     width: px2rem(120);
            //   }
            // }
            // .ant-table-scroll, .ant-table-fixed-left {
            //   tr td div {
            //     overflow: hidden;
            //     white-space: nowrap;
            //     text-overflow: ellipsis;
            //     word-break: keep-all;
            //   }
            // }
        }
        .table-pagination {
            margin: px2rem(15);
            margin-bottom: 0;
            .total {
                display: none;
            }
        }
    }

    .filter-wrap {
        position: relative;
        background-color: #fff;

        .filter-item {
            &:nth-child(n + 2) {
                margin-left: 2rem;
            }
        }

        .right-btn {
            position: absolute;
            top: 50%;
            right: px2rem(20);
            transform: translateY(-50%);
            padding-left: 10px;
            border-left: 1px solid #f4f4f4;

            .ant-btn {
                margin-left: 10px;
            }
        }

        &.table-filter {
            // margin-top: px2rem(10);
            padding: px2rem(10) px2rem(20);
            background-color: #f0f3f7;

            .ant-select {
                height: 28px;
                width: 160px;
            }
            .ant-input {
                height: 32px;
                width: 240px;
            }
        }

        // 故障工单两行筛选条件
        .label {
            display: inline-block;
            width: 100px;
            text-align: right;
        }

        & > div.new-line {
            margin-top: px2rem(10);
        }
    }
}
