@import '../util.scss';

.source-analysis {
  background: $tcolor-white;
  font-size: $font-size-basic;
  font-weight:400;
  font-family: "PingFang SC Regular", "Microsoft YaHei", serif;
  .analysis-header {
    // background: $tcolor-white;
    height: $space * 2.5;
    margin-left: $space * 1.875;
    a, span {
      float: left;
      height: $space * 1;
      line-height: $space * 1;
      margin-top: $space * 0.7;
    }
    a {
      &:hover {
        color: #2B5AAC;
      }
    }
    span {
      margin-left: $space * 0.5;
      padding-left: $space * 0.5;
      border-left: 1px solid #ccc;
      font-weight: 600;
    }
  }
  .analysis-content {
    background: #F1F4F9;
    text-align: left;
    .analysis-tab {
      background: #F1F4F9;
      width: 95%;
      margin: 0 auto;
    }
    .ant-tabs {
      width: 95%;
      margin: 0 auto;
    }
    .time-picker {
      // height: px2rem(60);
      // line-height: px2rem(60);
      padding: px2rem(15) px2rem(15);
      background: $tcolor-white;
      span {
        &:nth-child(3){
          margin-left: px2rem(40);
        }
      }
      .source-btn{
        float: right;
        // margin-right: px2rem(15);
        padding-left:px2rem(10);
        border-left: 1px dashed grey;
        .ant-btn {
          margin-left: px2rem(10);
        }
        span {
          margin-left: 0;
        }
      }
    }
  }
}
