#important-client{
    width: 2150px;
    margin-right: 30px;
    >#header{
        z-index: 2;
        color: #2CABB1;
        font-size: 28px;
        text-align: center;
        position: relative;
        >.ant-select{
            width: 360px;
            height: 38px;
            background-color: rgba(10, 40, 44, 0.22);
            position: absolute;
            right: 0;
            top: 3px;
            .ant-select-selection{
                background-color: rgba(10, 40, 44, 0.22);
                border-radius: 0;
                border: 1px solid rgba(27, 121, 117, 1);
                height: 38px;
                color: #fff;
                font-size: 20px;
            }
            .ant-select-selection__rendered{
                line-height: 38px;
                padding-left: 10px;
            }
            .ant-select-dropdown{
                background-color: transparent;
            }
            .ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover{
                background-color: transparent;
            }
        }

    }
    >#content{
        display: flex;
        justify-content: space-between;
        >.right{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 1580px;
            vertical-align: top;
        }
    }
    .content-title{
        color: #fff;
        font-size: 24px;
        line-height: 24px;
    }
    .num-error{
        color: #F58D3C;
    }
    .num-normal{
        color: #26B49C;
    }
    /*滚动条样式*/
    ::-webkit-scrollbar {/*滚动条整体样式*/
        width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 4px;
    }
    ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(14,79,114,1);
        background: rgba(14,79,114,1);
    }
    ::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
        border-radius: 0;
        background: rgba(14,79,114,0);
    }
    #important-client-list{
        display: inline-block;
        width: 482px;
        height: 919px;
        background-image: url("../imgs/zbkh_bg@2x.png");
        background-size: 482px 919px;
        #client-overview{
            padding: 0px 26px;
            color: #fff;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            >div{
                width: 50%;
                text-align: left;
            }
            .digital{
                font-size: 44px;
                vertical-align: middle;
            }
        }
        #client-search{
            padding: 0px 26px;
            position: relative;
            >i{
                position: absolute;
                right: 30px;
                top: 9px;
                cursor: pointer;
            }
            input{
                 background: transparent;
                 height: 40px;
                 width: 430px;
                 border: 1px solid #2CABB1;
                 padding-left: 20px;
                 color: #fff;
             }
        }
        #client-list{
            padding: 0 10px 0 20px;
            height: 750px;
            overflow-y: scroll;
            .item{
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: start;
                height: 70px;
                margin-top: 20px;
                align-items: center;
                padding: 0 10px 0 0;
                &:hover, &.active{
                    background-color: #1B4752;
                }
                .index{
                    font-size: 25px;
                    color: #EFBC20;
                    display: inline-block;
                    margin-right: 12px;
                    width: 30px;
                    text-align: right;
                }
                .badge{
                    margin-right: 21px;
                    display: inline-block;
                    width: 22px;
                    height: 28px;
                    background-size: 22px 28px;
                    background-repeat: no-repeat;
                    background-position: left center;
                }
                img{
                    width: 38px;
                    height: 38px;
                    margin-right: 16px;
                }
                .content{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 300px;
                    height: 60px;
                    background-image: linear-gradient( 90deg, transparent, transparent 66%, #0F3143 66%, #0F3143 100%),linear-gradient(90deg, #FFBD91 , #F86F1B),  linear-gradient(#0F3143, #0F3143);
                    background-size: 30px 10px, 150px 10px, 300px 10px;
                    background-repeat: repeat no-repeat, no-repeat ;
                    background-position: left bottom,left bottom;
                    .company{
                        font-size: 24px;
                        color: #fff;
                        display: inline-block;
                        width: 190px;
                        text-align: left;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .value{
                        font-size: 24px;
                        color: #26B49C;
                        display: inline-block;
                        width: 100px;
                        text-align: right;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            .gold{
                background-image: url("../imgs/gold@2x.png");
            }
            .silver{
                background-image: url("../imgs/silver@2x.png");
            }
            .copper{
                background-image: url("../imgs/copper@2x.png");
            }
            .bidder{
                background-image: url("../imgs/standard@2x.png");
            }

        }
    }
    table{
        width: 100%;
        font-size: 20px;
        margin-top: 9px;
        th, td{
            font-weight: normal;
            height: 45px;
            line-height: 45px;
            text-align: left;
            padding: 0 10px;
        }
        th{
            background-color: #143F45;
            color: #359487;
        }
        td{
            color: #fff;
            border-bottom: 1px solid #143F45;
        }
        tr{
            cursor: pointer;
        }
        tr:nth-child(2n){
            background-color: rgba(20, 63, 69, 0.22)
        }
        tr:hover, tr.active{
            background-color: #2F7C90;
        }
    }
    #special-line table, #alarm table{
        thead tr,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        tbody{
            display: block;
            height: 230px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    #special-line{
        display: inline-block;
        vertical-align: top;
        background-image: url("../imgs/zxlb_bg@2x.png");
        background-size: 780px 376px;
        background-repeat: no-repeat;
        width: 780px;
        height: 376px;
        padding: 0px 24px 31px 26px;
        .ant-radio-group{
            display: block;
            text-align: right;
        }
        .ant-radio{
            vertical-align: middle;
        }
        .ant-radio-wrapper{
            color: #fff;
            font-size: 18px;
        }
        .ant-radio-checked .ant-radio-inner{
            border-color: #50E3C2;
            background-color: transparent;
        }
        .ant-radio-inner{
            background-color: transparent;
        }
        .ant-radio-inner:after{
            background-color:#50E3C2;
        }
        .ant-radio-wrapper:hover .ant-radio .ant-radio-inner, .ant-radio:hover .ant-radio-inner, .ant-radio-focused .ant-radio-inner{
            border-color: #50E3C2;
        }
        td,th{
            color: #fff;
            border-bottom: 1px solid #143F45;
            max-width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:first-child{
                background-image: url("../imgs/gzzx@2x.png");
                background-size: 20px 20px;
                background-repeat: no-repeat;
                background-position: 10px center;
                max-width: 300px;
                width: 300px;
                padding-left: 35px;
            }
            &:nth-child(4){
                max-width: 80px;
                width: 80px;
            }
        }
    }
    #alarm{
        display: inline-block;
        vertical-align: top;
        background-image: url("../imgs/zxlb_bg@2x.png");
        background-size: 780px 376px;
        background-repeat: no-repeat;
        width: 780px;
        height: 376px;
        padding: 0px 24px 31px 26px;
        color: #fff;
        #header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 27px;
            line-height: 27px;
            font-size: 20px;
            #legend {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 18px;
                .label {
                    position: relative;
                    position: relative;
                    display: inline-block;
                    margin: 0 15px;
                    &:before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        border-radius: 8px;
                        position: absolute;
                        left: -20px;
                        top: 4px;
                    }
                    &.all:before {
                        background-image: url("../imgs/gjzs@2x.png");
                        background-repeat: no-repeat;
                        background-size: 16px;
                    }
                    &.one:before {
                        background: #CB4042;
                    }
                    &.two:before {
                        background: #E9A73B;
                    }
                    &.three:before {
                        background: #DFC200;
                    }
                    &.four:before {
                        background: #5998EE;
                    }
                }
            }
        }
        table{
            tr{
                .level{
                    position: relative;
                    width: 110px;
                    .one, .two, .three, .four{
                        display: inline-block;
                        width: 82px;
                        max-width: 82px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 14px;
                        color: #040C12;
                        text-align: center;
                        border-radius: 20px;
                    }
                    .one, .one:before{
                        background: #CB4042;
                    }
                    .two, .two:before{
                        background: #E9A73B;
                    }
                    .three, .three:before{
                        background: #DFC200;
                    }
                    .four, .four:before{
                        background: #5998EE;
                    }
                    :before{
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 45px;
                        top: 0px;
                        left: -119px;
                    }
                }
                .status{
                    width: 120px;
                    max-width: 120px;
                    span{
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 14px 14px;
                        margin: 0 5px;
                    }
                    .yqrgj{
                        background-image: url("../imgs/yqrgj@2x.png");
                    }
                    .wqrgj{
                        background-image: url("../imgs/wqrgj@2x.png");
                    }
                    .wbzh{
                        background-image: url("../imgs/wbzh@2x.png");
                    }
                    .ybzh{
                        background-image: url("../imgs/ybzh@2x.png");
                    }
                    .ypp{
                        background-image: url("../imgs/ypp@2x.png");
                    }
                    .wpp{
                        background-image: url("../imgs/wpp@2x.png");
                    }
                    .ghzt{
                        background-image: url("../imgs/ghzt@2x.png");
                    }
                    .wzzt{
                        background-image: url("../imgs/wzzt@2x.png");
                    }
                    .gcsszt{
                        background-image: url("../imgs/gcsszt@2x.png");
                    }
                    .xwzt{
                        background-image: url("../imgs/xwzt@2x.png");
                    }
                    .xwrzbfzt{
                        background-image: url("../imgs/xwrzbfzt@2x.png");
                    }
                    .xwgczt{
                        background-image: url("../imgs/xwgczt@2x.png");
                    }
                    .twdsczt{
                        background-image: url("../imgs/twdsczt@2x.png");
                    }
                    .twzt{
                        background-image: url("../imgs/twzt@2x.png");
                    }
                    .wpd{
                        background-image: url("../imgs/wpd@2x.png");
                    }
                    .ddpd{
                        background-image: url("../imgs/ddpd@2x.png");
                    }
                    .rgzzpd{
                        background-image: url("../imgs/rgzzpd@2x.png");
                    }
                    .xtyzpd{
                        background-image: url("../imgs/xtyzpd@2x.png");
                    }
                    .pdsb{
                        background-image: url("../imgs/pdsb@2x.png");
                    }
                    .zdpdcg{
                        background-image: url("../imgs/zdpdcg@2x.png");
                    }
                    .sgpdcg{
                        background-image: url("../imgs/sgpdcg@2x.png");
                    }
                    .ybz{
                        background-image: url("../imgs/ybz@2x.png");
                    }
                    .wbz{
                        background-image: url("../imgs/wbz@2x.png");
                    }
                }
                .time{
                    width: 230px;
                    max-width: 230px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .title{
                    width: 270px;
                    max-width: 270px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    #quality-quota{
        display: inline-block;
        vertical-align: top;
        width: 780px;
        height: 376px;
        // background-image: url("../imgs/zxlb_bg@2x.png"), url("../imgs/zlzb_DE@2x.png");
        // background-size: 780px 376px, 510px 255px;
        // background-position: center, center;
        // background-repeat: no-repeat, no-repeat;
        position: relative;
        .content-title{
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
        }
        video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .circle{
            position: absolute;
            height: 102px;
            width: 102px;
            display: inline-block;
            // background-image: url("../imgs/zbke_zlzb_content_bg@2x.png");
            background-size: 102px 102px;
            background-repeat: no-repeat;
            .value{
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                font-size: 28px;
                color: #EFAA37;
            }
            .title{
                font-size: 17px;
                color: #fff;
                white-space: nowrap;
                position: absolute;
            }
            &#zxkyl{
                top: 43px;
                left: 155px;
                .title{
                    left: -5px;
                    right: 0;
                    bottom: -15px;
                }
            }
            &#zxzdsc{
                top: 43px;
                right: 150px;
                .title{
                    left: -15px;
                    right: 0;
                    bottom: -15px;
                }
            }
            &#zxtscljsl{
                top: 126px;
                left: 53px;
                .title{
                    left: -32px;
                    right: 0;
                    bottom: -15px;
                }
            }
            &#zxtswcls{
                top: 130px;
                right: 55px;
                .title{
                    left: -40px;
                    right: 0;
                    bottom: -15px;
                }
            }
            &#zxgzclsc{
                top: 226px;
                left: 178px;
                .title{
                    left: -20px;
                    right: 0;
                    bottom: -15px;
                }
            }
            &#zxgzcljsl{
                top: 226px;
                right: 162px;
                .title{
                    left: -30px;
                    right: 0;
                    bottom: -15px;
                }
            }
        }
        #center{
            position: absolute;
            left: 0;
            right: 0;
            top: 135px;
            .digital{
                font-size: 56px;
                color: #16D79E;
            }
            .title{
                position: absolute;
                bottom: -10px;
                left: 0;
                right: 0;
                font-size: 20px;
                color: #fff;
            }
        }
    }
    #area{
        display: inline-block;
        width: 1620px;
        height: 535px;
        background-color: transparent;
        vertical-align: top;
        position: relative;
        #business-options{
            position: absolute;
            left: 0;
            top: 45px;
            .ant-radio-button-wrapper{
                box-sizing: border-box;
                height: 38px;
                width: 120px;
                line-height: 38px;
                color: #fff;
                border: 1px solid #1B7975;
                border: 0;
                outline: #1B7975 solid 1px;
                background:rgba(10,40,44,0.22);
                box-shadow:0px 1px 9px 3px rgba(12, 76, 55, 1) inset;
                position: initial;
                &:first-child{
                    border-right: 0;
                }
                &:last-child{
                    border-left: 0;
                }
                &.ant-radio-button-wrapper-checked{
                    background: -webkit-linear-gradient(rgba(70,166,165, 0.26), rgba(70,166,165,1)); /* Safari 5.1 - 6.0 */
                    background: -o-linear-gradient(rgba(70,166,165, 0.26) , rgba(70,166,165,1)); /* Opera 11.1 - 12.0 */
                    background: -moz-linear-gradient(rgba(70,166,165, 0.26), rgba(70,166,165,1)); /* Firefox 3.6 - 15 */
                    background: linear-gradient(rgba(70,166,165, 0.26), rgba(70,166,165,1)); /* 标准的语法 */
                    border: 0;
                    box-shadow: none;
                }
            }
            .ant-radio-button-wrapper:not(:first-child)::before{
                width: 0;
            }
        }
        #line-status{
            position: absolute;
            top: 200px;
            display: flex;
            width: 170px;
            flex-wrap: wrap;
            height: 350px;
            .item{
                display: inline-block;
                width: 161px;
                height: 80px;
                background-image: url("../imgs/zbkezb_bg@2x.png");
                background-size: 161px 80px;
                text-align: left;
                padding: 7px 15px;
                .title{
                    font-size: 20px;
                    color: #FFF;
                }
                .value{
                    font-size: 44px;
                    line-height: 40px;
                }
                &#normal{
                    .value{
                        color: #50E3C2;
                    }
                }
                &#disaster{
                    .value{
                        color: #CB4042;
                    }
                }
                &#important{
                    .value{
                        color: #F5A623;
                    }
                }
            }
        }
    }
    #topo{
        display: inline-block;
        width: 1620px;
        height: 535px;
        background-color: transparent;
        vertical-align: top;
        position: relative;
        #back{
            color: #26B49C;
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 15px;
        }
        #alarm-num{
            position: absolute;
            left: 0;
            top: 76px;
            width: 225px;
            .item{
                width: 225px;
                height: 63px;
                margin-bottom: 16px;
                background-image: url("../imgs/dltpzb_bg@2x.png");
                background-size: 225px 63px;
                background-repeat: no-repeat;
                color: #F5F5F5;
                font-size: 20px;
                display: inline-block;
                &#one-level{
                    .digital{
                        color: #CB4042;
                    }
                }
                &#total-level{
                    .digital{
                        color: #26B49C;
                    }
                }
                .digital{
                     font-size: 44px;
                    vertical-align: middle;
                }
            }
        }
        #client-info{
            width: 220px;
            height: 320px;
            background:rgba(15,44,58,0.3);
            box-shadow:0px 1px 20px 0px rgba(32,120,110,0.5)  inset;
            position: absolute;
            right: 0;
            top: 150px;
            text-align: left;
            padding: 15px;
            .label{
                color: #fff;
                font-size: 16px;
                line-height: 30px;
            }
            .value{
                color: #4ADBBB;
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
    }
}
.sceneOption.ant-select-dropdown-menu-item{
    color: #fff;
    background-color: #656768;
    broder: 0;
    border-left: 1px solid #2F7C90;
    border-right: 1px solid #2F7C90;
}
.sceneOption.ant-select-dropdown-menu-item-active,
.sceneOption.ant-select-dropdown-menu-item:hover,
.sceneOption.ant-select-dropdown-menu-item-selected,
.sceneOption.ant-select-dropdown-menu-item-selected:hover{
    background-color: #2F7C90;
}
#sceneList .ant-select-arrow .ant-select-arrow-icon{
    color: #fff;
}


