@import '../../../assets/css/util.scss';

.cutover-detail {
  background: $tcolor-white;
  font-size: $font-size-basic;
  font-weight:400;
  font-family: "PingFang SC Regular", "Microsoft YaHei", serif;
  .detail-header {
    height: $space * 2.5;
    margin-left: $space * 1.875;
    a, span {
      float: left;
      height: $space * 1;
      line-height: $space * 1;
      margin-top: $space * 0.7;
    }
    a {
      &:hover {
        color: #2B5AAC;
      }
    }
    span {
      margin-left: $space * 0.5;
      padding-left: $space * 0.5;
      border-left: 1px solid #ccc;
      font-weight: 600;
    }
  }
  .detail-content {
    background: #F1F4F9;
    text-align: left;
    .cutover-topic, .cutover-analysis {
      background: $tcolor-white;
      width: 95%;
      margin: px2rem(10) auto;
    }
    .cutover-topic {
      height: px2rem(382);
      .topic-left {
        float: left;
        width: 70%;
        height: 100%;
      }
      .topic-right {
        float: right;
        height: 100%;
        width: 30%;
        // background: #abcdef;
        border-left: 1px solid #F4F4F4;
        .topic-header {
          height: 25%;
          background:rgba(102,164,234,1);
          span {
            color: $tcolor-white;
            font-size: 18px;
            display: block;
            padding: $space * 0.8
          }
          .object-name {
            font-size: $font-size-basic;
            padding-top: 0;
          }
        }
        .start-time {
          margin-left: $space * 0.8;
          div:nth-child(1) {
            height: 10px;
            width: 10px;
            background:rgba(44,156,250,0.3);
            border:1px solid #2C9CFA;
            border-radius: 5px;
            margin-top: 15px;
          }
          div:nth-child(2) {
            color:rgba(60,62,74,1);
            line-height:20px;
          }
          div:nth-child(3) {
            color:rgba(44,156,250,1);
            line-height:20px;
          }
          div {
            float: left;
            margin-right: $space;
            margin-top: 10px;
          }
        }
        .coutover-status {
          width: 90%;
          margin: px2rem(40) auto;
          height: 40%;
          background:rgba(240,243,247,0.39);
          display: flex;
          justify-content:center;
          align-items:Center;
          .ant-progress {
            margin-right: px2rem(10);
          }
          span {
            font-size: $font-size-root;
            padding-left: $space;
          }
        }
      }
    }
    .cutover-analysis {
      // height:774px;
      // height: 100%;
      margin-bottom: $space * 1.875;
      margin-top: 0;
      .title {
        // margin-top: 10px;
        span {
          border-left: 3px solid $color-btnwrap-checked;
          height: $space * 2.5;
          line-height: $space * 2.5;
          padding-left: $space;
        }
      }
      .cutover-client {
        height: px2rem(220);
        margin-left: $space;
        margin-right: $space;
        background:rgba(240,243,247,0.39);
        .cilent-number, .line-number {
          height: 100%;
          width: 50%;
        }
        .cilent-number {
          float: left;
        }
        .line-number {
          float: right;
        }
      }
      .table-wrap {
        margin-top: $space;
        margin-left: $space;
        margin-right: $space;
        .link {
          color: $color-blue;
          font-size: $font-size-basic;
          // text-align: right;
          &:hover {
            text-decoration: underline;
            color: #C2D6FC
          }
        }
        table {
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;
        }
        thead {
          tr {
            width: 100%;
            border-bottom: 2px solid $border-color;
            background: $table-header;
          }
        }
        td, th {
          font-size: $font-size-basic;
          font-weight: 400;
          border-bottom: 1px solid $border-color;
          padding: px2rem(8);
          text-align: center;
          height: px2rem(40);
          word-break: keep-all;
          overflow: auto;
          // .show-abstract;
          text-overflow: ellipsis;
          overflow: hidden;
          // white-space: nowrap;
          white-space: normal;
        }
        th {
          word-break: keep-all;
        }
        tbody tr{
          td {
            word-break: keep-all;
          }
          &:hover {
            background: $hover-color;
            cursor: pointer;
          }
        }
        .show-abstract {
          text-overflow: ellipsis;
          overflow: hidden;
          // white-space: nowrap;
          white-space: normal;
        }
        .status-tag-gold, .status-tag-sliver, .status-tag-bronze, .status-tag-standard {
          // color: $tcolor-dark-light;
          display: inline-block;
          // border-radius: 11px;
          padding-left: px2rem(15);
          text-align: left;
          width: px2rem(75);
        }
        // .status-tag-gold {
        //   background: url(../stylesheets/image/gold.svg) no-repeat left 50%;
        // }
        // .status-tag-sliver {
        //   background: url(../stylesheets/image/sliver.svg) no-repeat left 50%;
        // }
        // .status-tag-bronze {
        //   background: url(../stylesheets/image/bronze.svg) no-repeat left 50%;
        // }
        // .status-tag-standard {
        //   background: url(../stylesheets/image/standard.svg) no-repeat left 50%;
        // }
        th {
          width: px2rem(50);
          text-align: left;
          &:nth-of-type(1) {
            width: px2rem(80);
            text-align: left;
          }
          &:nth-of-type(2) {
            width: px2rem(100);
          }
          &:nth-of-type(3) {
            width: px2rem(50);
            text-align: left;
          }
          &:nth-of-type(4) {
            width: px2rem(100);
          }
          &:nth-of-type(5) {
            width: px2rem(50);
            // text-align: left;
          }
          &:nth-of-type(6) {
            width: px2rem(50);
            // text-align: left;
          }
          &:nth-of-type(7) {
            width: px2rem(50);
            // text-align: left;
          }
          &:nth-of-type(8) {
            width: px2rem(80);
            // text-align: center;
          }
        }
        td {
          // text-align: left;
          &:nth-of-type(1) {
            text-align: left;
          }
          &:nth-of-type(2) {
            text-align: left;
          }
          &:nth-of-type(3) {
            text-align: left;
          }
          &:nth-of-type(4) {
            text-align: left;
          }
          &:nth-of-type(6) {
            text-align: left;
          }
          &:nth-of-type(7) {
            text-align: left;
          }
          &:nth-of-type(8) {
            text-align: left;
          }
        }
      }
    }
  }
}
