@import '../../../assets/css/util.scss';
// $tcolor-white: rgba(255,255,255,1);
// $tcolor-dark: rgba(60, 62, 74, 1);
// $tcolor-dark-light: rgba(114,117,140,1);
// $color-btn-checked: rgba(44,156,250,0.25);
// $color-btnwrap-checked: rgba(44,156,250,1);
// $white: #fff;
// $success: #5DC560;
// $info: #1B98D3;
// $error: #F04134;
// $border-color: #F4F4F4;
// $hover-color: #EAF5FF;
// $table-header: rgba(240,243,247,0.39);

.cutover-overview {
  background: $tcolor-white;
  // padding: 20px 1%;
  font-size: $font-size-basic;
  font-weight:400;
  font-family: "PingFang SC Regular", "Microsoft YaHei", serif;
  .title {
    font-size: $font-size-basic;
    color: $tcolor-dark;
    border-bottom: 1px solid #F4F4F4;
    font-family: "PingFang SC Regular", "Microsoft YaHei", serif;
    font-weight:600;
    line-height: $space * 2.5;
    height: $space * 2.5;
    margin-bottom: $space * 0.625;
    padding-left: $space * 1.875;
    span {
      display: block;
      float: left;
    }
  }
  .select-btn {
    font-size: $font-size-basic;
    color: $tcolor-dark-light;
    font-family: "PingFang SC Regular", "Microsoft YaHei", serif;

    margin-bottom: $space * 0.5;
    padding-left: $space * 1.875;
    .about-time {
      display: block;
      float: left;
      height: $space * 1.75;
      line-height: $space * 1.75;
    }
    .select-date, .select-time {
      float: left;
      margin-left: $space * 0.625;
    }
    .ant-radio-button-wrapper {
      font-family: "PingFang SC Regular", "Microsoft YaHei", serif;
      height: px2rem(32);
      line-height: px2rem(30);
      span:nth-of-type(2) {
        font-size: $font-size-basic;
      }
    }
    .ant-radio-button-wrapper-checked {
      background: $color-btn-checked;
    }
    .ant-calendar-picker-input {
      @media screen and (min-width: 1360px){
        line-height: px2rem(30);
      };
      height: px2rem(32);
      .ant-calendar-range-picker-input {
        font-size: $font-size-basic;
      }
    }
  }
  .cutover-content {
    background: #F1F4F9;
    // width: 95%;
    // margin: 0px auto;
    .ant-table-wrapper {
      margin-bottom: px2rem(20);
    }
    .cutover-map, .cutover-line {
      background: $tcolor-white;
      // height: 31.25rem;
      height: px2rem(500);
    }
    .cutover-map {
      margin-top: $space * 0.625;
      margin-left: $space * 1.875;
      position: relative;
      .total-cutover, .finished-cutover, .unfinished-cutover, .cancel-cutover{
        width: px2rem(135);
        height: px2rem(68);
        float: left;
        background:rgba(240,243,247,0.9);
        margin-top: $space;
        margin-left: $space;
        text-align: left;
        padding-left: $space * 0.5;
        padding-top: $space * 0.5;
        color:rgba(114,117,140,1);
        span {
          display: block;
          font-size: 24px;
          font-weight: 600;
          font-family: "PingFang SC Semibold", "Microsoft YaHei", serif;
          line-height: $space * 1.875;
        }
      }
      .total-cutover {
        span {
          color: rgba(100,108,112,1);
        }
      }
      .finished-cutover {
        span {
          color:rgba(113,202,65,1);
        }
      }
      .unfinished-cutover {
        span {
          color:rgba(77,140,244,1);
        }
      }
      .cancel-cutover {
        span {
          color:rgba(243,91,91,1);
        }
      }
    }
    .cutover-alarm {
      background: $tcolor-white;
      margin-top: $space * 0.625;
      margin-left: $space * 1.875;
      margin-right: $space * 1.875;
      margin-bottom: $space * 1.875;
      // width: 95%;
      // margin: $space auto;
      // height: 100%;
      .title {
        // padding-left: $space;
        margin-left: px2rem(-30);
        span {
          border-left: 3px solid $color-btnwrap-checked;
          height: $space;
          line-height: $space;
          margin-top: $space * 0.7;
          padding-left: $space;
          font-weight: 400;
        }
      }
      .select-status {
        float: left;
        // margin-left: $space;
        margin-left: px2rem(6);
      }
      .ant-radio-button-wrapper {
        font-size: $font-size-basic;
        font-family: "PingFang SC Regular", "Microsoft YaHei", serif;
        height: px2rem(32);
        line-height: px2rem(30);
        margin-left: px2rem(10);
        border-radius: px2rem(5);
        // border: 1px solid #d9d9d9;
        border-color: $tcolor-white;
        background:rgba(249,251,252,1);
        &:hover {
          background: rgba(44,156,250,0.3);
          color: #2C9CFA
        }
      }
      .ant-radio-button-wrapper:before {
        width: 0;
        height: 0;
        // background: $white;
        // border-color: rgba(249,251,252,1);
      }
      .ant-radio-button-wrapper-checked {
        background-color: $color-btnwrap-checked;
        color: $tcolor-white;
        border: none;
        height: px2rem(30);
        &:hover {
          color: $tcolor-white;
          background-color: $color-btnwrap-checked;
        }
      }
    }
    .search-wrap {
      width: 100%;
      margin-top: $space * 0.625;
      .ant-input-group-wrapper {
        margin-right: $space;
        float: right;
        width: 30%;
      }
      .ant-select {
        margin-right: $space;
        float: right;
        width: 20%;
      }
    }
    .table-wrap {
      margin-top: $space;
      margin-left: $space;
      margin-right: $space;
      .link {
        color: $color-blue;
        font-size: $font-size-basic;
        // text-align: right;
        &:hover {
          text-decoration: underline;
          color: #C2D6FC
        }
      }
      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
      }
      thead {
        tr {
          width: 100%;
          border-bottom: 2px solid $border-color;
          background: $table-header;
        }
      }
      td, th {
        font-size: $font-size-basic;
        font-weight: 400;
        border-bottom: 1px solid $border-color;
        padding: 8px;
        text-align: center;
        height: 40px;
        word-break: keep-all;
        // overflow: auto;
        // .show-abstract;
        text-overflow: ellipsis;
        overflow: hidden;
        // white-space: nowrap;
        white-space: normal;
      }
      th {
        word-break: keep-all;
      }
      tbody tr{
        td {
          word-break: keep-all;
        }
        &:hover {
          background: $hover-color;
          cursor: pointer;
        }
      }
      .show-abstract {
        text-overflow: ellipsis;
        overflow: hidden;
        // white-space: nowrap;
        white-space: normal;
      }
      .status-tag-success, .status-tag-info, .status-tag-error {
        color: $white;
        display: inline-block;
        border-radius: 11px;
        padding: 2px 6px;
        width: 85px;
      }
      .status-tag-success {
        background: $success;
      }
      .status-tag-info {
        background: $info;
      }
      .status-tag-error {
        background: $error;
      }
      th {
        width: px2rem(50);
        text-align: left;
        &:nth-of-type(1) {
          width: px2rem(150);
          text-align: left;
        }
        &:nth-of-type(2) {
          width: px2rem(100);
        }
        &:nth-of-type(3) {
          width: px2rem(100);
          text-align: left;
        }
        &:nth-of-type(4) {
          width: px2rem(100);
          text-align: left;
        }
        &:nth-of-type(5) {
          width: px2rem(100);
          text-align: center;
        }
        &:nth-of-type(6) {
          width: px2rem(60);
          text-align: center;
        }
        &:nth-of-type(7) {
          width: px2rem(60);
          text-align: center;
        }
      }
      td {
        text-align: left;
        &:nth-of-type(1) {
          text-align: left;
        }
        &:nth-of-type(3) {
          text-align: left;
        }
        &:nth-of-type(4) {
          text-align: left;
        }
        &:nth-of-type(5) {
          text-align: center;
        }
        &:nth-of-type(6) {
          text-align: center;
          // color:rgba(44,156,250,1);
        }
        &:nth-of-type(7) {
          text-align: center;
        }
        // &:nth-of-type(8) {
        //   text-align: center;
        //   padding-left: 10px;
        // }
      }
    }
  }
}
.ant-calendar-panel {
  .ant-calendar-date-panel {
    .ant-calendar-range-middle {
      left: 45%;
    }
  }
}
