@import '../util.scss';
.data-check {
    text-align: left;
    font-size: 14px;
    font-family: "PingFang SC Regular", "Microsoft YaHei", serif;

    & > header {
        padding-left: 2rem;
        height: 2rem;
        line-height: 2rem;
        background: white;

        .text {
            font-weight: 600;
        }
    }

    .body {
        margin: 0 2rem;

        .filter {
            position: relative;
            padding: px2rem(4) px2rem(28);
            background-color: #fff;

            &:first-child {
                margin-top: px2rem(12);
            }

            .item {
                &:nth-child(n+2) {
                    margin-left: 2rem;
                }
            }
        }

        .ant-row {
            margin-top: 10px;
        }

        .markdown {
            background-color: #fff;

            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                thead {
                    display: table-header-group;
                    vertical-align: middle;
                    border-color: inherit;
                }
                tr {
                    border-top: 1px solid #c6cbd1;
                    background: #fff;
                }
                th, td {
                    padding: 6px 13px;
                    border: 1px solid #dfe2e5;

                    &:nth-child(4) {
                        width: 50%;
                        white-space: unset;
                        text-emphasis: none;
                        word-break: break-all;
                        overflow: auto;
                    }
                }
            }

            // blockquote {
            //     color: #666;
            //     margin: 0;
            //     padding-left: 3em;
            //     border-left: 0.5em #eee solid;
            // }

            ul code, p code {
                display: inline-block;
                padding: 0.5em;
                color: #333;
                background: #f8f8f8;
            }
            b {
                background-color: yellow;
            }
            // code {
            //     display: block;
            //     overflow-x: auto;
            //     padding: 0.5em;
            //     color: #333;
            //     background: #f8f8f8;
            // }
            // center {
            //     text-align: center;
            // }
        }
    }

    .ant-empty {
        margin-top: 1rem;
    }

}
