@import '../../../assets/css/util.scss';
.site-header {
  width: 95%;
  margin: 0 auto;
  // margin-left: px2rem(18);
  // margin-top: px2rem(8);
  background: $tcolor-white;
}
.site-header {
  .type-wrapper {
    // height: px2rem(73);
    // display: flex;
    // margin-left: px2rem(5);
    height: 100%;
    .ant-carousel {
      .slick-slider {
        height: px2rem(240);
        background: $tcolor-white;
        overflow: hidden;
      }
      .slick-dots {
        li {
          button {
            height: px2rem(10);
            width: px2rem(10);
            border-radius: px2rem(5);
            margin-left: px2rem(5);
            // margin-top: px2rem(5);
            background:rgba(44,156,250,0.5);
          }
        }
      }
    }
    .ant-carousel .slick-slider h3 {
      color: #0000ff;
    }
    .type {
      height: px2rem(87);
      padding: 0.5rem .5rem;
      margin-top: px2rem(12);
      margin-right: px2rem(12);
      float: left;
      background:rgba(240,243,247,0.39);
      width: px2rem(144);
      &:nth-of-type(3) {
        margin-right: 0;
      }
      &:nth-of-type(6) {
        margin-right: 0;
      }
      .alarm-count {
        font-size: $font-size-basic;
        color: rgba(114,117,140,1);
      }
      .alarm-tip {
        font-size: 30px;
        font-weight: 600;
        margin-top: px2rem(6);
        font-family: "PingFang SC Semibold";
        color: rgba(44,156,250,1);
      }
    }
  }
}
